html {
    background-color: rgb(3, 20, 255);
    font-size: 20px;
  }
  ul {
    background: rgb(238, 196, 8);
    padding: 10px;
    border: 1px solid black;
  }
  li {
    margin-left: 20px;
  }
  