html {
    background-color: rgb(29, 185, 112);
    font-size: 20px;
  }
  ul {
    background: rgb(104, 33, 33);
    padding: 10px;
    border: 1px solid black;
  }
  li {
    margin-left: 20px;
  }
  